* {
  margin: 0;
  padding: 0;
}
::-webkit-scrollbar {
  width: 5px;
}
a {
  text-decoration: none;
  /* color: #99912c;
   */
  color: #fff;
}
Link {
  color: #99912c;
}
.ghtu {
  display: none;
}
.loader-container {
  height: 100vh;
  background-color: rgb(51, 50, 50);
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
